In [1]:
import random as rand
import pandas as pd

In [2]:
df = pd.DataFrame([['job_333', 'main_0', 'sub_0', 'deep_0'], ['job_777', 'main_0', 'sub_0', 'deep_0']], columns=['JOB','L1','L2','L3'])

In [3]:
for i in range(0,10):
    for j in range(0,20):
        for k in range(0,50):
            c = rand.randint(1,9)
            for x in range(c):
                dfx = pd.DataFrame([
                                   ['case_' + str(rand.randint(0,777)), 'main_' + str(i), 'sub_' + str(i) + '_' + str(j), 'deep_' + str(i) + '_' + str(j) + '_' + str(k)],
                                   ['case_' + str(rand.randint(0,777)), 'main_' + str(i), 'sub_' + str(i) + '_' + str(j), 'deep_' + str(i) + '_' + str(j) + '_' + str(k)]
                                   ], columns=['JOB','L1','L2','L3'])
                df = df.append(dfx)

In [4]:
df.shape

(100002, 4)

In [6]:
df.to_csv('../data/out/output3.csv', index=False)

In [7]:
df.head()

        JOB      L1       L2          L3
0   job_333  main_0    sub_0      deep_0
1   job_777  main_0    sub_0      deep_0
0  case_207  main_0  sub_0_0  deep_0_0_0
1  case_728  main_0  sub_0_0  deep_0_0_0
0  case_195  main_0  sub_0_0  deep_0_0_0

In [8]:
df.shape

(100002, 4)